[user]
	email = narthorn@gmail.com
	name = Narthorn
[push]
	default = simple
	followTags = true
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[rebase]
	autosquash = true
